;rev로부터 꿀꺽

@SYSTEM_TITLE
LOADGLOBAL
RESULT = GLOBAL
SAVEGLOBAL
LOADGLOBAL

REDRAW 0
CLEARLINE 1
RESULT  = 1
LOCAL:2 = LINECOUNT

ADDCHARA 0
ADDCHARA 1
ADDCHARA 2
ADDCHARA 3
ADDCHARA 4


DO
	FOR LOCAL:1, 0, 126
		CLEARLINE LINECOUNT - LOCAL:2
		FOR LOCAL:0, 0, 35
			HTML_PRINT "<p align='center'><img src='TW_title" + TOSTR(LOCAL:0, "000") + "'></p>"
		NEXT
		$START
		ALIGNMENT CENTER
		CUSTOMDRAWLINE ━
		PRINTFORML %GAMEBASE_TITLE%
		PRINTFORML %eraTW_Version%
		PRINTFORML %GAMEBASE_YEAR%
;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%HTMLSTYLE(@"%GAMEBASE_TITLE%", 2)%</b>", "Courier New", )%")
;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%eraTW_Version%</b>", "Courier New")%")
;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>(%GAMEBASE_YEAR%)</b>", "Courier New")%")
		PRINTL
		PRINTFORML %GAMEBASE_INFO%
		CUSTOMDRAWLINE ━
		PRINTFORML [0] 테스트
		PRINTFORML [1] 처음부터
		PRINTFORML [2] 로드한다
		ALIGNMENT LEFT
		INPUT
		CUSTOMDRAWLINE ━
		SELECTCASE RESULT
			CASE 0
				CALL BF_MENU
			CASE 1
				LOADGAME
			CASE 2
				LOADGAME
		ENDSELECT
		GOTO START
	NEXT
LOOP RESULT
REDRAW 1
