@전투
#DIM DYNAMIC ㄱ
#DIM DYNAMIC ㄴ
#DIM DYNAMIC ㄷ
#DIM DYNAMIC ㄹ
#DIM DYNAMIC ㅁ
;0 : M // 1 : LH // 2 : RH // 3 : B // 4 : W // 5 : C // 6 : V // 7 : A // 8: L // 100 : N/A
신체표현:0:0 '= "입", "손", "손", "유두", "허리", "쥬지", "오류", "애널", "다리"
신체표현:1:0 '= "입", "손", "손", "가슴", "허리", "클리", "질", "애널", "다리"
;전투자세
;100의자리 0 : 보통 //// 1 : 남성상위 //// 2 : 여성상위
;10의자리 0 : 직립 //// 1 : 덮침 //// 2 : 덮침_하체공략 //// 3 : 69 //// 4 : 삽입
;1의자리  0 : 평등 //// 1 : 우위 //// 2 : 압도우위 ///// 하체공략*삽입에서만 사용
;000 : 직립 //// 101 : 직립_남성기습 //// 201 : 직립_여성기습
;110 : 남성덮침 //// 210 : 여성덮침 //// 111 : 남성후덮침 //// 211 : 여성후덮침
;120 : 커닐 //// 121 : 내리꽂기커닐 //// 122 : 후방_내리꽂기커닐
;220 : 펠라파이 //// 221 : 하체묶기파이 //// 222 : 후방_내리꽂기파이
;040 : 다리꼬아삽입 //// 140 : 정상위 //// 141 : 후배위 //// 142 : 후방교배프레스
;;;;;;;;;;;;;;;;;;; /// 240 : 대면좌위 //// 241 : 기승위 //// 242 : 아마존프레스
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;전투중 1 : 전투에 돌입한 상태  //// 전투중 2 : 전투 중 및 초기 변수초기화 완료한 상태
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
IF 전투중 == 1
	PRINTL BF!
	PRINTFORMW 
	PRINTFORMW
	전투자세 = 0
	FOR ㄱ, 0, 2
		FOR ㄴ, 0, 5
			FOR ㄷ, 0, 9
				FOR ㄹ, 0, 9
					FOR ㅁ, 0, 15
						부위별행동시도확률:ㅁ:ㄷ:ㄹ = 0
					NEXT
					행동선택지:ㄱ:ㄷ:ㄹ = 0
					부위별행동:ㄱ:ㄴ:ㄹ = 999
					부위별행동시도:ㄱ:ㄴ:ㄷ = 999
				NEXT
			NEXT
		NEXT
		FOR ㄹ, 0, 9
			부위별행동대사:0:ㄹ = %CSTR:1:이름%의 %신체표현:0:ㄹ%은 아무것도 하지 않고 있다
			부위별행동대사:1:ㄹ = %CSTR:(캐릭터선택):이름%의 %신체표현:1:ㄹ%은 아무것도 하지 않고 있다
		NEXT
	NEXT
	전투중 = 2
ENDIF
FOR ㄱ, 0, 2
	FOR ㄴ, 0, 5
		FOR ㄷ, 0, 9
			IF 부위별행동:ㄱ:ㄴ:ㄷ == 999
			
			ELSE
				FOR ㄹ, 0, 9
					IF 부위별행동:ㄱ:ㄴ:ㄷ == ㄹ
						IF ㄱ == 0
							부위별행동대사:ㄱ:ㄷ = %CSTR:1:이름%의 %신체표현:ㄱ:ㄷ%은 %CSTR:(캐릭터선택):이름%의 %신체표현:1:ㄹ%을 %행동표현:ㄴ%
						ELSE
							부위별행동대사:ㄱ:ㄷ = %CSTR:(캐릭터선택):이름%의 %신체표현:ㄱ:ㄷ%은 %CSTR:1:이름%의 %신체표현:1:ㄹ%을 %행동표현:ㄴ%
						ENDIF
						GOTO 대사표현완료
					ENDIF
				NEXT
			ENDIF
		NEXT
	NEXT
NEXT
$대사표현완료
$INPUT_LOOP

IF CFLAG:(캐릭터선택):현정력 <= 0
	PRINTFORMW ━승리!━
	;CFLAG:1:승리경험 += 1
	CFLAG:1:승리경험 = CFLAG:1:승리경험 + 1
	전투중 = 0
	CFLAG:(캐릭터선택):현정력 = CFLAG:(캐릭터선택):최대정력
	CALL 월드이동
ELSEIF CFLAG:1:현정력 <= 0
	PRINTFORMW ━패배!━
	CFLAG:1:패배경험 = CFLAG:1:패배경험 + 1
	전투중 = 0
	CFLAG:(캐릭터선택):현정력 = CFLAG:(캐릭터선택):최대정력
	CALL BF_MENU
ENDIF

CALL 파라미터표시
CUSTOMDRAWLINE ━
PRINTFORM %CSTR:1:이름%
SIF 아나타후공여부 == 1
	PRINT      후공
HTML_PRINT "<p align='right'><img src='실험' width='500' height='500'>"
;HTML_PRINT "<p align='right'><img src='실험' height='100'></p>"
;@"<p align='%sAlign%'><nobr><img src='%sRes_Name%' height='{iFont_Hei_mag}'>"
;0 : M // 1 : LH // 2 : RH // 3 : B // 4 : W // 5 : C // 6 : V // 7 : A // 8: L // 100 : N/A
PRINTFORML M  : [0] %부위별행동대사:0:0%\n           (효과 표시)
PRINTFORML LH : [1] %부위별행동대사:0:1%\n           (효과 표시)
PRINTFORML RH : [2] %부위별행동대사:0:2%\n           (효과 표시)
PRINTFORML B  : [3] %부위별행동대사:0:3%\n           (효과 표시)
PRINTFORML W  : [4] %부위별행동대사:0:4%\n           (효과 표시)
PRINTFORML C  : [5] %부위별행동대사:0:5%\n           (효과 표시)
PRINTFORML A  : [7] %부위별행동대사:0:7%\n           (효과 표시)
PRINTFORML L  : [8] %부위별행동대사:0:8%\n           (효과 표시)

CUSTOMDRAWLINE ━
PRINTFORM %CSTR:(캐릭터선택):이름% 
SIF 아나타후공여부 == 0
	PRINT      후공
PRINTFORML \n
PRINTFORML M  : [10] %부위별행동대사:1:0%\n           (효과 표시)
PRINTFORML LH : [11] %부위별행동대사:1:1%\n           (효과 표시)
PRINTFORML RH : [12] %부위별행동대사:1:2%\n           (효과 표시)
PRINTFORML B  : [13] %부위별행동대사:1:3%\n           (효과 표시)
PRINTFORML W  : [14] %부위별행동대사:1:4%\n           (효과 표시)
PRINTFORML C  : [15] %부위별행동대사:1:5%\n           (효과 표시)
PRINTFORML V  : [16] %부위별행동대사:1:6%\n           (효과 표시)
PRINTFORML A  : [17] %부위별행동대사:1:7%\n           (효과 표시)
PRINTFORML L  : [18] %부위별행동대사:1:8%\n           (효과 표시)

PRINTFORML \n[50] 턴전환(치트)
PRINTFORML [999] 다음 턴
$입력선택_행동부위
INPUT
IF (RESULT >= 0) && (RESULT <= 8)
	적행동수동선택모드 = 0
	행동도구 = RESULT
	CALL 전투_행동선택
ELSEIF (RESULT >= 10) && (RESULT <= 18)
	적행동수동선택모드 = 1
	행동도구 = RESULT % 10
	CALL 전투_행동선택
ELSEIF RESULT == 50
	IF 아나타후공여부 == 0
		아나타후공여부 = 1
	ELSE
		아나타후공여부 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 999
	CALL 전투_판정
ELSE
	GOTO 입력선택_행동부위
ENDIF
[SKIPSTART]
SETCOLOR DEF_COLOR("쇼킹핑크")
PRINT 쇼킹핑크  
SETCOLOR DEF_COLOR("핑크")
PRINT 핑크  
SETCOLOR DEF_COLOR("하트핑크")
PRINT 하트핑크  
SETCOLOR DEF_COLOR("빨강")
PRINT 빨강  
SETCOLOR DEF_COLOR("홍색")
PRINT 홍색   
RESETCOLOR
CASE "쇼킹핑크"
	RETURNF 0xEF0EEF
CASE "핑크", "ピンク"
	RETURNF 0xEF857C
CASE "하트핑크"
	RETURNF 0xFFC0CB
CASE "빨강", "赤"
	RETURNF 0xEF5445
CASE "홍색", "紅"
	RETURNF 0xB815B8
[SKIPEND]
@파라미터표시
CUSTOMDRAWLINE ━
PRINTFORM %CSTR:1:이름%
CALL 칸띄우기, 31
PRINT  
PRINTFORML %CSTR:(캐릭터선택):이름%
CALL 그래프막대, "정력", "백색게이지_MAX비표시", CFLAG:1:현정력, CFLAG:1:최대정력, CFLAG:(캐릭터선택):현정력, CFLAG:(캐릭터선택):최대정력, 6
PRINTFORML
CALL 그래프막대, "절정", "복숭아색게이지", CFLAG:1:현절정, CFLAG:1:최대절정, CFLAG:(캐릭터선택):현절정, CFLAG:(캐릭터선택):최대절정, 6
PRINTFORML
CALL 그래프막대, "이성", "이성게이지", CFLAG:1:현이성, CFLAG:1:최대이성, CFLAG:(캐릭터선택):현이성, CFLAG:(캐릭터선택):최대이성, 6
PRINTFORML
CALL 그래프막대, "기력", "황색게이지_MAX비표시", CFLAG:1:현기력, CFLAG:1:최대기력, CFLAG:(캐릭터선택):현기력, CFLAG:(캐릭터선택):최대기력, 6
PRINTFORML
CALL 그래프막대, "욕정", "누적게이지", CFLAG:1:욕정, 100, CFLAG:(캐릭터선택):욕정, 100, 6
PRINTFORML
PRINT 무드 
CALL PRINT_BAR, "누적게이지", 무드, 100, 10
PRINTFORML
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;체력바그리기 수치명,바방식,아나타 수치,  상대방 수치,   칸띄우기
@그래프막대, ARGS, ARGS:1, ARG, ARG:1, ARG:2, ARG:3, ARG:4
#DIM DYNAMIC ㄱ = 0
#DIM DYNAMIC ㄴ = 0
PRINTFORM %ARGS% 
CALL PRINT_BAR, ARGS:1, ARG, ARG:1, 26
PRINTFORM  ({ARG}/{ARG:1})
SETCOLOR DEF_COLOR("껌정")
SELECTCASE ARG:1
	CASE IS >= 1000
		ㄱ = ㄱ + 1
	CASE IS >= 100
		ㄱ = ㄱ + 2
	CASE IS >= 10
		ㄱ = ㄱ + 3
	CASE IS < 10
		ㄱ = ㄱ + 4
ENDSELECT
SELECTCASE ARG
	CASE IS >= 1000
		ㄱ = ㄱ + 1
	CASE IS >= 100
		ㄱ = ㄱ + 2
	CASE IS >= 10
		ㄱ = ㄱ + 3
	CASE IS < 10
		ㄱ = ㄱ + 4
ENDSELECT
FOR ㄴ, 0, ㄱ
	PRINT 0
NEXT
RESETCOLOR
;0/0 10000/10000
CALL 칸띄우기, ARG:4
PRINTFORM %ARGS% 
CALL PRINT_BAR, ARGS:1, ARG:2, ARG:3, 26
PRINTFORM  ({ARG:2}/{ARG:3})

@칸띄우기, ARG
FOR LCOUNT, 0, ARG
	PRINT 　
NEXT

[SKIPSTART]
PRINTFORM \n
PRINTFORML M  : [0] %부위별행동대사:0:0%
PRINTFORML            (효과 표시)
PRINTFORML LH : [1] %부위별행동대사:0:1%
PRINTFORML            (B쾌락+++) (욕정+) (무드+)
PRINTFORML RH : [2] 아나타의 오른손은 %CSTR:(캐릭터선택):이름%의 클리를 쓰다듬고 있다
PRINTFORML            (C쾌락+++) (욕정+) (무드+)
PRINTFORML B  : [3] 아나타의 유두는 %CSTR:(캐릭터선택):이름%의 혀로 괴롭혀지고 있다
PRINTFORML            (B피쾌락++++) (피욕정++) (무드+)
PRINTFORML C  : [4] 아나타의 육봉은 %CSTR:(캐릭터선택):이름%의 손으로 귀여움받고 있다
PRINTFORML            (C피쾌락+++) (피욕정+) (무드+)
PRINTFORML LL : [5] - \n
PRINTFORML RL : [6] - \n

CUSTOMDRAWLINE ━
PRINTFORML %CSTR:(캐릭터선택):이름% \n
PRINTFORML M  : %CSTR:(캐릭터선택):이름%의 입은 아나타의 왼쪽 유두를 혀로 굴리고 있다
PRINTFORML            (B쾌락++++) (욕정++) (무드+)
PRINTFORML LH : %CSTR:(캐릭터선택):이름%의 왼팔은 아나타의 육봉을 쥐고 흔들고 있다
PRINTFORML            (C쾌락+++) (욕정+) (무드+)
PRINTFORML RH : %CSTR:(캐릭터선택):이름%의 오른팔은 아나타의 몸을 안아 밀착하고 있다
PRINTFORML            (B피쾌락+) (욕정++) (무드+++) 
PRINTFORML B  : %CSTR:(캐릭터선택):이름%의 가슴은 아나타의 몸에 밀착되고 있다, 아나타의 손에 주물러지고 있다
PRINTFORML            (B피쾌락+++) (피욕정+) (무드+)
PRINTFORML C  : %CSTR:(캐릭터선택):이름%의 클리는 아나타의 손에 간지럽혀지고 있다
PRINTFORML            (C쾌락+++) (피욕정+) (무드+)
PRINTFORML V  : - \n
PRINTFORML LL : - \n
PRINTFORML RL : - \n
[SKIPEND]
